@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.logo{
    color: #F9FAF8;
    font-family: roboto;
    font-weight: bold;
    font-size: 24px;
}

.header{
    background-color: #1F2937;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    flex-shrink: 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.header-left{
    width: 400px;
}

.content{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 200px;
    font-size: 18px;
    font-family: roboto;
    color: black;
}

.cards-text{
    color: black;
    font-size: 36px;
    font-weight: bold;
    font-family: roboto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote-section{
    background-color: #E5E7EB;
    font-family: roboto;
    font-size: 24px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.quotee{
    align-self: flex-end;
}

.signup-section{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    flex-shrink: 0;
    padding: 40px;
}

.main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    font-family: roboto;
    padding-bottom: 20px;
}

.secondary-text{
    color: #E5E7EB;
    font-size: 18px;
    font-family: roboto;
}